@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    @model List<PersonalCollectionManagement.Models.Item>
    ViewData["Title"] = Localizer["Collection"].Value + " " + Model[0].Collection.Name;
    ViewBag.FullAccess = false;
    @if (ViewBag.AutorizeUser != null)
    {
        if ((ViewBag.AutorizeUser.Nickname == ViewBag.OwnerCollection.Nickname) || ViewBag.AutorizeUser.IsAdmin)
        {
            ViewBag.FullAccess = true;
        }
    }
}

<link rel="stylesheet" href="~/css/jquery-ui.css">
<link rel="stylesheet" href="~/css/jquery-ui.structure.min.css">
<link rel="stylesheet" href="~/css/jquery-ui.theme.css">

<div class="text-@ViewBag.Text m-2">
    <h5>@Localizer["CollectionDescription"]</h5>
    @Model[0].Collection.MarkdownDescription
</div>

@if (Model.Count == 1 && Model[0].Id == 0)
{
    <h5 class="text-info m-2">@Localizer["CollectionIsEmpty"]</h5>
}
else
{
    <h5 class="text-info m-2">@Localizer["ListOfCollectionItems"]</h5>
    <table class="table table-responsive-sm table-bordered table-hover table-@ViewBag.Bg" id="filter-table">
        <thead>
            <tr>
                <th scope="col" onclick='sortTable(0)'>@Localizer["ItemName"]</th>
                <th scope="col" onclick='sortTable(1)'>#@Localizer["Tegs"]</th>
                @for (int i = 0; i < Model[0].Collection.FormattedFields.Count; i++)
                {
                    <th scope="col" onclick='sortTable(@i+2)'>@Model[0].Collection.FormattedFields[i].Name</th>
                }

                @if (ViewBag.FullAccess)
                {
                    <th scope="col">@Localizer["Edit"]</th>
                    <th scope="col">@Localizer["Delete"]</th>
                }

                <th scope="col">@Localizer["GoOver"]</th>
            </tr>
        </thead>
        <tbody>
            <tr class='table-filters'>
                @for (var i = 0; i < Model[0].Collection.FormattedFields.Count + 2; i++)
                {
                    <td>
                        <input type="text" />
                    </td>
                }
            </tr>

            @foreach (var item in Model)
            {
                <tr class="table-data">
                    <td>@item.Name</td>
                    <td>@item.Tegs</td>

                    @for (var i = 0; i < Model[0].Collection.FormattedFields.Count; i++)
                    {
                        var field = Model[0].Collection.FormattedFields[i];

                        if (field.Type == "Текстовый")
                        {
                            <td>@item.MarkdownFormattedValues[i]</td>
                        }

                        if (field.Type == "Логический")
                        {
                            @if (@item.FormattedValues[i] == "on")
                            {
                                <td><input type="checkbox" disabled checked></td>
                            }
                            else
                            {
                                <td><input type="checkbox" disabled></td>
                            }
                        }

                        if (field.Type != "Текстовый" && field.Type != "Логический")
                        {
                            <td>@item.FormattedValues[i]</td>
                        }
                    }
                    @if (ViewBag.FullAccess)
                    {
                        <td>
                            <button class="btn btn-danger editItem"
                                    idItem="@item.Id"
                                    valuesItem="@item.Values"
                                    nameItem="@item.Name"
                                    tegsItem="@item.Tegs"
                                    data-toggle="modal" data-target="#editItem">
                                @Localizer["Edit"]
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger deleteItem"
                                    idItem="@item.Id"
                                    data-toggle="modal" data-target="#deleteItem">
                                @Localizer["Delete"]
                            </button>
                        </td>
                    }

                    <td>
                        <form asp-controller="Home" asp-action="Item" asp-route-id="@item.Id">
                            <button class="btn btn-primary">@Localizer["GoOver"]</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div class='modal fade' id='createItem' tabindex="-1" role="dialog"
     aria-labelledby="createCollection" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content text-@ViewBag.Text bg-@ViewBag.Bg">
            <div class="modal-header ">
                <h5 class="modal-title " id="ModalLabel">@Localizer["ItemCreation"]</h5>
                <button class="close autorization" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form name="loginForm" method="post">
                        <input name="idCollection" value="@Model[0].Collection.Id" class="d-none">
                        <div class="form-group">
                            <label for="nameCollection">@Localizer["ItemName"]</label>
                            <input type="text" name="itemName" class="form-control" placeholder="@Localizer["ItemName"]">
                        </div>

                        <input type="text" name="tegs" id="allTegs" class="form-control" readonly>
                        <p>@Localizer["Add2"] #</p>
                        <input type="text" class="form-control" id="oneTag" placeholder="@Localizer["Enter"] #">
                        <button id="addTeg" class="btn btn-primary mt-2">@Localizer["Add2"] #</button>
                        @if (Model[0].Collection.FormattedFields.Count != 0)
                        {
                            <p>@Localizer["FillInTheFields"]</p>
                        }

                        @for (var i = 0; i < Model[0].Collection.FormattedFields.Count; i++)
                        {
                            var field = Model[0].Collection.FormattedFields[i];

                            <label>@field.Name</label>
                            <div class="form-group">

                                @if (field.Type == "Числовой")
                                {
                                    <input type="number" name="itemValue">
                                }

                                @if (field.Type == "Строковый")
                                {
                                    <input type="text" name="itemValue">
                                }

                                @if (field.Type == "Текстовый")
                                {
                                    <textarea name="itemValue"></textarea>
                                }

                                @if (field.Type == "Дата")
                                {
                                    <input type="date" name="itemValue">
                                }

                                @if (field.Type == "Логический")
                                {
                                    <input class="d-none" type="text" name="itemValue" value="off">
                                    <input type="checkbox">
                                }
                            </div>
                        }

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Cancel"]</button>
                            <button asp-controller="Collection" asp-action="CreateItem"
                                    class="btn btn-primary m-2">
                                @Localizer["Save"]
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='modal fade' id='deleteItem' tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content text-@ViewBag.Text bg-@ViewBag.Bg">
            <div class="modal-header ">
                <h5 class="modal-title text-danger">@Localizer["DeleteItem"]</h5>
                <button class="close autorization" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-danger">@Localizer["ConfirmDeleteItem"]</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Cancel"]</button>
                <form asp-controller="Collection" asp-action="DeleteItem" method="post">
                    <input name="idItem" id="idItemDelete" class="d-none">
                    <button type="submit" class="btn btn-primary">@Localizer["Delete"]</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class='modal fade' id='editItem' tabindex="-1" role="dialog"
     aria-labelledby="createCollection" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content text-@ViewBag.Text bg-@ViewBag.Bg">
            <div class="modal-header ">
                <h5 class="modal-title" id="ModalLabel">@Localizer["EditItem"]</h5>
                <button class="close autorization" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form asp-controller="Collection" asp-action="EditItem" method="post">
                        <input name="idCollection" value="@Model[0].Collection.Id" class="d-none">
                        <div class="form-group">
                            <label for="nameCollection">@Localizer["ItemName"]</label>
                            <input type="text" name="itemName" id="itemName" class="form-control"
                                   placeholder="@Localizer["ItemName"]">
                        </div>

                        <p>@Localizer["Your"] #</p>
                        <input type="text" name="tegs" id="allTegsEdit" class="form-control mb-2" readonly>
                        <input type="text" class="form-control" id="oneTagEdit" placeholder="@Localizer["Enter"] #">
                        <div>
                            <button id="addTegEdit" class="btn btn-primary mt-2 mb-2">@Localizer["Add2"] #</button>
                        </div>
                        @for (var i = 0; i < Model[0].Collection.FormattedFields.Count; i++)
                        {
                            var field = Model[0].Collection.FormattedFields[i];

                            <label>@field.Name</label>
                            <div class="form-group inputContainer">

                                @if (field.Type == "Числовой")
                                {
                                    <input type="number" name="itemValue">
                                }

                                @if (field.Type == "Строковый")
                                {
                                    <input type="text" name="itemValue">
                                }

                                @if (field.Type == "Текстовый")
                                {
                                    <textarea name="itemValue"></textarea>
                                }

                                @if (field.Type == "Дата")
                                {
                                    <input type="date" name="itemValue">
                                }

                                @if (field.Type == "Логический")
                                {
                                    <input class="d-none" type="text" name="itemValue" value="off">
                                    <input type="checkbox">
                                }
                            </div>
                        }

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Cancel"]</button>
                            <input name="IdItem" id="idItemEdit" class="d-none">
                            <button type="submit" class="btn btn-primary">@Localizer["SaveChanges"]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.FullAccess)
{
    <button class="btn btn-primary m-2" data-toggle="modal" data-target="#createItem">@Localizer["AddItem"]</button>
}

<script src="~/js/sort.js"></script>
<script src="~/js/jquery-ui.min.js"></script>
<script src="~/js/Collection.js"></script>


