@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    @model PersonalCollectionManagement.Models.Item

    ViewData["Title"] = Localizer["Element"].Value + " " + Model.Name;
}

<p class="d-none" id="isUserLike">@ViewBag.IsUserLike</p>
<p class="d-none" id="idItem">@Model.Id</p>
<table class="table table-responsive-sm table-bordered table-hover table-@ViewBag.Bg">
    <thead>
        <tr>
            <th scope="col">@Localizer["ItemName"]</th>
            @foreach (var item in Model.Collection.FormattedFields)
            {
                <th scope="col">@item.Name</th>
            }

            <th scope="col">@Localizer["Likes"]</th>
            <th scope="col">@Localizer["Comments"]</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.Name</th>

            @for (var i = 0; i < Model.Collection.FormattedFields.Count; i++)
            {
                var field = Model.Collection.FormattedFields[i];

                @if (field.Type == "Текстовый")
                {
                    <th scope="row">@Model.MarkdownFormattedValues[i]</th>
                }

                @if (field.Type == "Логический")
                {
                    @if (Model.FormattedValues[i] == "on")
                    {
                        <th scope="row"><input type="checkbox" disabled checked></th>
                    }
                    else
                    {
                        <th scope="row"><input type="checkbox" disabled></th>
                    }
                }

                @if (field.Type != "Текстовый" && field.Type != "Логический")
                {
                    <th scope="row">@Model.FormattedValues[i]</th>
                }
            }

            <th scope="row">
                @if (ViewBag.IsUserLike)
                {
                    <img class="mr-2 like" src="~/img/LikePressed.png">
                }
                else
                {
                    <img class="mr-2 like" src="~/img/Like.png">
                }
                <span id="countLikes">@ViewBag.CountLikes</span>
            </th>

            <th scope="row">
                <img class="mr-2" src="~/img/Comment.png">
                <span id="countComments">@ViewBag.Comments.Count</span>
            </th>
        </tr>
    </tbody>
</table>

<div class="modal-dialog" role="document" id="formCommentModal">
    <div class="modal-content text-@ViewBag.Text bg-@ViewBag.Bg">
        <div class="modal-header ">
            <h5 class="modal-title">@Localizer["LeaveYourComment"]</h5>
        </div>
        <form name="commentForm">
            <div class="modal-body">
                <div class="container-fluid">
                    <textarea name="text" rows="4" cols="30"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">@Localizer["Comment"]</button>
            </div>
        </form>
    </div>
</div>

@foreach (var comment in ViewBag.Comments)
{
    <div>
        <div class="modal-dialog" role="document">
            <div class="modal-content text-@ViewBag.Text bg-@ViewBag.Bg">
                <div class="modal-header ">
                    <h5 class="modal-title ">@comment.User.Nickname</h5>
                    <p>@comment.DateTime</p>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <span>@comment.Text</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class='modal fade' id='notFullAccess' tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content @ViewBag.Text bg-@ViewBag.Bg">
            <div class="modal-header ">
                <h5 class="modal-title text-danger">@Localizer["YouAreNotAuthorized"]</h5>
                <button class="close autorization" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-info">@Localizer["WarningToUnauthorizedUser"]</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ок</button>
                <form asp-controller="Account" asp-action="Login" method="get">
                    <input name="idCollection" id="idCollection" class="d-none">
                    <button type="submit" class="btn btn-primary">@Localizer["GoToAuthorization"]</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/Item.js"></script>