@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    @model List<PersonalCollectionManagement.Models.Item>
    ViewData["Title"] = Localizer["Items"];
}

@if (Model.Count == 0)
{
    <p class="text-info">@Localizer["NoResults"]</p>
}
else
{
    <table class="table table-responsive-sm table-bordered table-hover table-@ViewBag.Bg">
        <thead>
            <tr>
                <th scope="col">@Localizer["ItemName"]</th>
                <th scope="col">@Localizer["Tegs"]Теги</th>
                <th scope="col">@Localizer["GoToItemCollection"]</th>
                <th scope="col">@Localizer["GoToItemOwner"]</th>
                <th scope="col">@Localizer["GoToItem"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Name</th>
                    <td>@item.Tegs</td>

                    <td>
                        <form asp-controller="Home" asp-action="Collection" asp-route-idCollection="@item.CollectionId">
                            <button class="btn btn-primary">
                                @Localizer["GoToItemCollection"]
                            </button>
                        </form>
                    </td>

                    <td>
                        <form asp-controller="Home" asp-action="UserPage" asp-route-idUser="@item.Collection.UserId">
                            <button class="btn btn-primary">
                                @Localizer["GoToItemOwner"]
                            </button>
                        </form>
                    </td>

                    <td>
                        <form asp-controller="Home" asp-action="Item" asp-route-id="@item.Id">
                            <button class="btn btn-primary">
                                @Localizer["GoToItem"]
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
