@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    @model List<PersonalCollectionManagement.Models.Collection>
    @if (ViewBag.AutorizeUser != null && ViewBag.AutorizeUser.Nickname == ViewBag.OwnerCollections.Nickname)
    {
        ViewData["Title"] = Localizer["MyPage"];
        ViewBag.OnwPage = true;
    }
    else
    {
        ViewData["Title"] = Localizer["UserPage"].Value + " "+ ViewBag.OwnerCollections.Nickname;
    }

    ViewBag.FullAccess = false;
    if (ViewBag.AutorizeUser != null)
    {
        if ((ViewBag.AutorizeUser.Nickname == ViewBag.OwnerCollections.Nickname) || ViewBag.AutorizeUser.IsAdmin)
        {
            ViewBag.FullAccess = true;
        }
    }
}

<p id="FieldName" class="d-none">@Localizer["FieldName"]</p>
<p id="FieldType" class="d-none">@Localizer["FieldType"]</p>
<p id="DeleteField" class="d-none">@Localizer["DeleteField"]</p>
<p id="Numerical" class="d-none">@Localizer["Numerical"]</p>
<p id="String" class="d-none">@Localizer["String"]</p>
<p id="Text" class="d-none">@Localizer["Text"]</p>
<p id="Date" class="d-none">@Localizer["Date"]</p>
<p id="Logical" class="d-none">@Localizer["Logical"]</p>

@if (Model.Count == 0)
{
    <h5 class="text-info m-2">@Localizer["CollectionListIsEmpty"]</h5>
}
else
{
<h5 class="text-info m-2">@Localizer["CollectionList"]</h5>
    <table class="table table-responsive-sm table-bordered table-hover table-@ViewBag.Bg">
        <thead>
            <tr>
                <th scope="col">@Localizer["CollectionName"]</th>
                <th scope="col">@Localizer["CollectionDescription"]</th>
                <th scope="col">@Localizer["Picture"]</th>
                @if (ViewBag.FullAccess)
                {
                    <th scope="col">@Localizer["Edit"]</th>
                    <th scope="col">@Localizer["Delete"]</th>
                }

                <th scope="col">@Localizer["GoTo"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var collection in Model)
            {
            <tr>
                <th scope="row">@collection.Name</th>
                <td>@collection.MarkdownDescription</td>
                @if (collection.Image != "none")
                {
                    <td><img class="inTable" src="@Url.Content(collection.Image)"></td>
                }
                else
                {
                    <td></td>
                }

                @if (ViewBag.FullAccess)
                {
                    <td>
                        <button class="btn btn-danger editCollection"
                                collectionId="@collection.Id"
                                collectionFields="@collection.Fields"
                                collectionName="@collection.Name"
                                collectionDescription="@collection.Description"
                                data-toggle="modal" data-target="#editCollection">
                            @Localizer["Edit"]
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger deleteCollection"
                                collectionId="@collection.Id"
                                data-toggle="modal" data-target="#deleteCollection">
                            @Localizer["Delete"]
                        </button>
                    </td>
                }

                <td>
                    <form asp-controller="Home" asp-action="Collection" asp-route-idCollection="@collection.Id">
                        <button class="btn btn-primary" collectionId="@collection.Id">@Localizer["GoTo"]</button>
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

<div class='modal fade' id='createCollection' tabindex="-1" role="dialog"
     aria-labelledby="createCollection" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content text-@ViewBag.Text bg-@ViewBag.Bg">
            <div class="modal-header ">
                <h5 class="modal-title " id="ModalLabel">@Localizer["CreateCollection"]</h5>
                <button class="close autorization" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form name="loginForm" method="post" enctype="multipart/form-data">
                        <input type="text" name="nicknameUser" class="d-none" value="@ViewBag.OwnerCollections.Nickname">
                        <div class="form-group">
                            <label for="nameCollection">@Localizer["CollectionName"]</label>
                            <input type="text" name="nameCollection" class="form-control" id="nameCollection"
                                   placeholder="@Localizer["CollectionName"]">
                        </div>

                        <label for="description">@Localizer["CollectionDescription"]</label>
                        <div class="form-group">
                            <textarea id="description" rows="3" cols="35" name="description"></textarea>
                        </div>
                        <label for="description">@Localizer["LoadPicture"]</label>
                        <div class="form-group">
                            <input type="file" 
                                   name="uploadedFile"
                                   accept="image/*"/>
                        </div>
                        <button class="btn btn-primary m-2 createField">@Localizer["AddField"]</button>
                        <button asp-controller="Home" asp-action="CreateCollection"
                                class="btn btn-primary m-2">
                            @Localizer["Save"]
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='modal fade' id='deleteCollection' tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content @ViewBag.Text bg-@ViewBag.Bg">
            <div class="modal-header ">
                <h5 class="modal-title text-danger">@Localizer["DeleteCollection"]</h5>
                <button class="close autorization" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-danger">@Localizer["ConfirmDelete"]</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Cancel"]</button>
                <form asp-controller="Home" asp-action="DeleteCollection" method="post">
                    <input name="idCollection" id="idCollection" class="d-none">
                    <button type="submit" class="btn btn-primary">@Localizer["Delete"]</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class='modal fade' id='editCollection' tabindex="-1" role="dialog"
     aria-labelledby="editCollection" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content @ViewBag.Text bg-@ViewBag.Bg">
            <div class="modal-header ">
                <h5 class="modal-title " id="ModalLabel">@Localizer["EditCollection"]</h5>
                <button class="close autorization" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Home" asp-action="EditCollection" method="post">
                <div class="modal-body">
                    <div class="container-fluid">

                        <input type="text" name="idCollection" id="idCollectionEdit" class="d-none">
                        <div class="form-group">
                            <label for="nameCollection">@Localizer["CollectionName"]</label>
                            <input type="text" name="nameCollection" class="form-control" id="nameCollectionEdit"
                                   placeholder="@Localizer["CollectionName"]" aria-describedby="emailHelp">
                        </div>

                        <label for="description">@Localizer["CollectionDescription"]</label>
                        <div class="form-group">
                            <textarea id="descriptionEdit" rows="3" cols="35" name="description"></textarea>
                        </div>
                        <button id="createFieldEdit" class="btn btn-primary m-2 createField">
                            @Localizer["AddField"]
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Cancel"]</button>

                    <input name="idCollection" id="idCollection" class="d-none">
                    <button type="submit" class="btn btn-primary">@Localizer["Save"]</button>
                </div>
            </form>
        </div>
    </div>
</div>

@if (ViewBag.FullAccess)
{
    <button class="btn btn-primary m-2" data-toggle="modal" data-target="#createCollection">
        @Localizer["CreatingCollection"]
    </button>
}

@if (ViewBag.OnwPage != null)
{
    <form asp-controller="Home" asp-action="UserSettings">
        <button class="btn btn-primary m-2">@Localizer["GoToSettings"]</button>
    </form>
}

<script src="~/js/UserPage.js"></script>